.contenedor-lista-planes-entrenamiento {
  //background: aqua;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  //align-items: center;
  width: 100%;
  .boton-crear-plan-entrenamiento {
    width: 100%;
    display: flex;
    width: 100%;
    border: 1px solid transparent;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 2px 4px #686666;
    background-color: #d0bcff;
    transition: background-color 300ms;
    &:hover {
      background-color: #6750a4;
      color: #fff;
    }
    background-color: #ae81f7;
  }
}
